In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
rakesh = df.loc[1]
print(rakesh)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

loc = loc is primarily label-based indexing. It is used for selection by label, which means you specify the row and column labels to retrieve data.

iloc -Used for integer-location based indexing. You specify row and column positions using integers. It excludes the last element of the range.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [3]:
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

In [4]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [5]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

loc = loc is primarily label-based indexing. It is used for selection by label, which means you specify the row and column labels to retrieve data.

iloc -Used for integer-location based indexing. You specify row and column positions using integers. It excludes the last element of the range.

In [6]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [7]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.168313  0.233283  0.996911  0.479247  0.757023  0.700410
2  0.001914  0.215373  0.984455  0.841889  0.618714  0.301773
3  0.794759  0.915977  0.733473  0.493391  0.413146  0.469250
4  0.884570  0.539244  0.988261  0.051036  0.872840  0.250751
5  0.363488  0.547630  0.334666  0.871166  0.768638  0.272481
6  0.124220  0.568148  0.639146  0.496030  0.432816  0.616744

In [8]:
df1.describe()

       column_1  column_2  column_3  column_4  column_5  column_6
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   0.389544  0.503276  0.779485  0.538793  0.643863  0.435235
std    0.368653  0.258293  0.265537  0.299226  0.189319  0.191184
min    0.001914  0.215373  0.334666  0.051036  0.413146  0.250751
25%    0.135243  0.309773  0.662727  0.482783  0.479291  0.279804
50%    0.265901  0.543437  0.858964  0.494710  0.687869  0.385511
75%    0.686941  0.563018  0.987309  0.755424  0.765734  0.579871
max    0.884570  0.915977  0.996911  0.871166  0.872840  0.700410

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [9]:
replacement_string = "rak"
df1.loc[1, "column_2"]= replacement_string

In [10]:
df1["column_1"]

1    0.168313
2    0.001914
3    0.794759
4    0.884570
5    0.363488
6    0.124220
Name: column_1, dtype: float64

column 2 mean cannot be found because a strng is given in the 1s index number so we cant perform meam to that column2

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?


Ans. In pandas, the term "window functions" refers to a category of operations that can be applied to a set of data points within a specified window or range. These functions operate on a moving window of data, allowing you to perform calculations over subsets of your data, often used in time-series analysis.

df4.rolling(window=2).min()

df4.rolling(window=2).mean()

df4.rolling(window=2).median()

df4.rolling(window=2).mode()

df4.rolling(window=2).sum()

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [11]:
date = pd.date_range(start= "2024-01-14", end = "2024-01-31" )

In [12]:
date

DatetimeIndex(['2024-01-14', '2024-01-15', '2024-01-16', '2024-01-17',
               '2024-01-18', '2024-01-19', '2024-01-20', '2024-01-21',
               '2024-01-22', '2024-01-23', '2024-01-24', '2024-01-25',
               '2024-01-26', '2024-01-27', '2024-01-28', '2024-01-29',
               '2024-01-30', '2024-01-31'],
              dtype='datetime64[ns]', freq='D')

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [18]:
date1= input("Enter the start date in format (YYYY-MM-DD) to calculate the difference")
date2=input("Enter the end date in format (YYYY-MM-DD)")
# Convert input strings to datetime objects
date1_format = pd.to_datetime(date1)
date2_format = pd.to_datetime(date2)
time = date2_format - date1_format
# Extract days, hours, and minutes from the time difference
days=time.days
print(f"Time difference: {days} days")

Enter the start date in format (YYYY-MM-DD) to calculate the difference 2024-01-14
Enter the end date in format (YYYY-MM-DD) 2024-01-30

Time difference: 16 days

Q9. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.

In [17]:
file_path = input("Enter the file path to read the CSV file: ")
import pandas as pd
df = pd.read_csv(file_path)
print("The mean value is ",df["Test Score"].mean())
print("The median value is ",df["Test Score"].median())
print("The mode value is ",df["Test Score"].mode())

Enter the file path to read the CSV file:  sample.csv

The mean value is  83.5
The median value is  85.0
The mode value is  0    85
Name: Test Score, dtype: int64

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
file_path = input("Enter the file path to read the CSV file: ")
df = pd.read_csv("sample.csv")

# Set the 'Date' column as the index for the DataFrame
df.set_index("Date", inplace = True)
# Transpose the DataFrame for stacked bar chart
df_transposed = df.T
# Plotting a stacked bar chart using Pandas plot
df_transposed.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.xlabel('Product Category')
plt.ylabel('Sales')
plt.legend(title='Date', bbox_to_anchor=(1, 1), loc='upper left')